@using Biblioteca.UserInterface.Models
@model List<Biblioteca.UserInterface.Models.Book>


@{
    ViewBag.Title = "List of available books";
}

<h2>Index</h2>
@if(!User.IsInRole("client")){
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<h3>@ViewBag.Error</h3>
@using (Html.BeginForm("Index", "Book", FormMethod.Get, new { @class = "navbar-form navbar-left", @role="search" }))
{
    <div class="form-group">
	    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        @*<input type="text" class="form-control" />*@
	</div> <button type="submit" class="btn btn-default">Submit</button>

}
<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new {sortOrder= ViewBag.NameSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Publisher","Index", new {sortOrder= ViewBag.NameSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Author Name", "Index", new {sortOrder=ViewBag.NameSortParam, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Author Last Name", "Index",new {sortOrder=ViewBag.NameSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Stock","Index",new {sortOrder=ViewBag.NameSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr class="">
        <td>
            @Html.DisplayFor(modelItem => item.id_book)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorLastName)
        </td>
        <td>
            <span class="stock">@Html.DisplayFor(modelItem => item.stock)</span>
        </td>
        <td>
            @Html.ActionLink("Reserve", "../Rent/Create", new { bookId = item.id_book, res_date = System.DateTime.Now }) |
            @if(!User.IsInRole("client")){
                @Html.ActionLink("Rent Book", "../Rent/RentBook", new { bookId = item.id_book }) 
            }
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
        </tbody>
</table>

<script type="text/ecmascript">
    $(document).ready(function () {
        $(".stock").each(function () {
            if ($(this)[0].innerText == 1) {
                $(this).parent().parent().addClass('warning');
            }
            if ($(this)[0].innerText < 1) {
                $(this).parent().parent().addClass('danger');
            }
        });

    });
</script>