@model Biblioteca.UserInterface.Models.User

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayName("Username: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>
    <div class="display-label">
         @Html.DisplayName("First Name: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.first_name)
    </div>

    <div class="display-label">
         @Html.DisplayName("Last Name: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.last_name)
    </div>

    <div class="display-label">
         @Html.DisplayName("Gender: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender.description)
    </div>

    <div class="display-label">
         @Html.DisplayName("Mail: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mail)
    </div>

    <div class="display-label">
         @Html.DisplayName("Birth Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.birthDate)
    </div>
    <div class="display-label">
         @Html.DisplayName("User role: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.role.description)
    </div>

    <div class="display-label">
         @Html.DisplayName("User since: ")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_sign)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { user = Model }) |
    @Html.ActionLink("Back to List", "Index")
</p>
